<div class="container">
  <dx-load-panel
    [(visible)]="loadPanelVisible"
    [showIndicator]="true"
    [showPane]="true"
    [hideOnOutsideClick]="false"
    ><dxo-position my="top" at="top" of="#cards"> </dxo-position>
  </dx-load-panel>
  <dx-pagination
    [showInfo]="true"
    [showNavigationButtons]="true"
    [itemCount]="total"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (pageIndexChange)="onPageIndexChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  >
  </dx-pagination>
  <div id="cards">
    @for (color of visibleCards; track color) {
    <img [src]="color.image" [alt]="color.name" />
    }
  </div>
</div>
